
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
